.App {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  min-height: 100vh;
}

/* The header section */
.header {
  background-color: #2a5a97;
  padding: 10px;
  width: 100%;
}
.header h1 {
  text-align: left;
  color: white;
  font-size: 300%;
}
.header h2 {
  text-align: left;
  color: #94a4b3;
  font-size: 100%;
}

.header h3 {
  text-align: center;
  color: white;
  font-size: 100%;
  margin-left: 20px;
  margin-right: 20px;
}
/* CONTENT */
.content {
  padding: 10px;
  text-align: center;
  min-height: 700px;
}

.quoteBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.eachQuote {
  height: auto;
  width: 250px;
  text-align: left;
  padding: 20px;
  margin: 10px;
  border-radius: 6px;
  font-weight: bold;
  font-size: large;
  background-color: #f49446;
  color: #2a5a97;
  text-justify: inter-word;
}

/* footer */
.footer {
  /* position: fixed; */
  bottom: 0px;
  background-color: #2a5a97;
  padding: 10px;
  text-align: center;
  color: #f49446;
  width: 100%;
}

/* added this comment to test branching */
